//fonts-vars
$font-all-content: "Roboto";
$font-title: "Montserrat";
$font-pretitle: "KaushanScript";

//color-vars
$color-all-content: rgb(51, 51, 51);
$color-all-content-secondary: rgb(153, 153, 153); 
$color-subcontent: rgb(255, 255, 255);
$color-placeholder: rgb(204, 204, 204);

//decor-color-vars
$color-shadow: rgba(153, 153, 153, 0.5);
$color-decor-first: rgb(243, 129, 129);
$color-decor-secondary: rgb(149, 225, 211);
$color-decor-third: rgb(252, 227, 138);
$color-decor-fourth: rgb(231, 231, 231);
$grad-color-first: rgba(243, 129, 129, 0.9);
$grad-color-second: rgba(252, 227, 138, 0.9);
