.about-hover {
  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %link;
    @include flex-center();
    flex-wrap: wrap;
    flex-direction: column;
    border: none;
    transition: background-color 200ms linear, fill 200ms linear;

  }

  &__link-svg {
    display: block;
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
    fill: $color-subcontent;
    transition: fill 200ms linear;
  }

  &__link-title {
    margin: 0;
    padding: 0;
    @include size-height(18px, 1.2);
    font-family: $font-title, sans-serif;
    font-weight: bold;
    color: $color-subcontent;
    text-transform: uppercase;
    text-align: center;
  }
}
